body{
    margin: 0;
    background:white;
    color: #415A41;
    text-align: center;
}

h2{
    text-align: center;
}

p{
    text-align: center;
}

a{
    text-align: center;
    
}

a:hover{
    color: blue;
}

.he {
    margin: 0;
    background: #80B881;
    color: #375C37;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;

}

.image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
  }
  
  img {
    align-items: center;
    margin: 0 auto;
    height: 100%;
    width: auto;
  }
