body{
    margin: 0;
    background:white;
    color: #415A41;
    text-align: center;
}

h2{
    text-align: center;
}

p{
    text-align: center;
}

a{
    text-align: center;
}

.he {
    margin: 0;
    background: #80B881;
    color: #375C37;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

}
