body{
    margin: 0;
    background:white;
    color: #415A41;
    text-align: center;
}

h2{
    font-family: 'Spicy Rice', cursive;
    text-align: center;
}

p{
    font-family: 'Lato', sans-serif;
    text-align: center;
}

a{
    font-family: 'Lato', sans-serif;
    text-align: center;
    
}

a:hover{
    color: blue;
}

.he {
    font-family: 'Spicy Rice', cursive;
    margin: 0;
    background: #80B881;
    color: #375C37;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;

}

.image-cropper {
    width: 300px;
    height: 300px;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
    padding-top: 40px;
    padding-bottom: 40px;
    
  }
  
  img {
    align-items: center;
    margin: 0 auto;
    height: 100%;
    width: auto;
    
  }
